<%- include ('header') %>
<%- include ('navbar_user') %>
<div class="container mt-4">
    <div class="row">
        <%- include('forms/edittweet')%>
    </div>
</div>

<%- include ('footer') %>