<div class="col-4 mb-4">
    <div class="card" style="width: 100%;">
        <img src="/uploads/<%=img%>" class="card-img-top">
        <div class="card-body">
                <div class="d-flex gap-2">
                    <a href="/tweet/<%=tweetid%>/delpic/<%=img%>" class="btn btn-primary d-block flex-fill">Delete</a>
                </div>        
        </div>
    </div>
</div>
