<form method="POST">
    <h4>Create account</h4>
    <%- include('errors')%>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="username" placeholder="user" name="username">
        <label for="username">Username</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email">
        <label for="email">Email address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" placeholder="****" name="password">
        <label for="password">Password</label>
    </div>
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input"  id="flexCheckDefault" value="" name="statement">
        <label class="form-check-label" for="flexCheckDefault">Accept privacy statement</label>
    </div>
    <div class="d-grid gap-2">
        <input type="submit" class="btn btn-primary d-block" value="Register"/>
        <a href="/" class="btn btn-link">Back to Login</a>
    </div>
</form>